body {
    width: 100vw;
    height: 100vh;
    background-color: rgba(238, 0, 255, 0.291);
    font-size: 20px;
    
}

.h1java002 {
    color: #ffffff88;
    font-family: 'Courier New', Courier, monospace;
}

.spanjava002 {
    color: rgba(0, 0, 255, 0.53);
    font-size: 16px;
}

